<br>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">É novo aqui?</h5>
          <p class="card-text">Seja bem vindo!</p>
          <p class="card-text">Esse é um projeto para ser entregue como atividade avaliativa.</p>
          <p class="card-text">Para mais detalher vá nas <strong>Instruções</strong>.</p>
          <a href="/instrucao" class="btn btn-primary">Instruções</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Já conhece as intruções?</h5>
          <p class="card-text">Então, vamos começar?</p>
          <p class="card-text">Esse projeto tem como objetivo exercitar a criação de uma lista de contatos.</p>
          <p class="card-text">Para adiocionar um contato vá na página <strong>adicionar contato</strong>.</p>
          <a href="/add-contato" class="btn btn-primary">Adicionar um novo contato</a>
        </div>
      </div>
    </div>
</div>
<br>
<br>