
<div class="list-group w-auto">
    <br>
    <h2>Contatos</h2>
    <ul>
        <li>
            <fieldset>
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Empresa</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let contato of contatos">
                        <tr>
                            <td>{{contato.nome}}</td>
                            <td>{{contato.empresa}}</td>
                            <td><button routerLink="/list/{{contato.id}}" class="btn btn-secondary">Detalhes</button></td>
                            <td><button routerLink="/edit-contato/{{contato.id}}" class="btn btn-primary">Editar</button></td>
                            <td><button (click)="removeContato(contato)" class="btn btn-danger">Excluir</button></td>
                        </tr>
                     </tbody>
                </table>
            </fieldset>
        </li>
    </ul>
    <ng-template #nomeNaoEncontrado></ng-template>
</div>