<br>
<div class="container">
    <h2>Contatos</h2>
    <br>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Pesquisar:</span>
          </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="searchText">
      </div>
    <br>
    <div>
                <fieldset>
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Empresa</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let contato of contatos | filter: searchText">
                                <td>{{contato.nome}}</td>
                                <td>{{contato.empresa}}</td>
                                <td><button routerLink="/list/{{contato.id}}" class="btn btn-secondary">Detalhes</button></td>
                                <td><button routerLink="/edit-contato/{{contato.id}}" class="btn btn-primary">Editar</button></td>
                                <td><button (click)="removeContato(contato)" class="btn btn-danger">Excluir</button></td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
        <ng-template #nomeNaoEncontrado></ng-template>
    </div>
</div>
<br>