<div class="container">
    <br>
    <h3>Instruções da atividade:</h3>
    <p>Construir um front-end (utilizando Angular) para controlar uma agenda de contatos:</p>
    <p>Cada contato deve ter:</p>
    <p>- Nome</p>
    <p>- Telefone</p>
    <p>- E-mail</p>
    <p>- Empresa</p>
    <p>O back-end pode ser implementado utilizando json-server ou outra forma de sua escolha, por exemplo, uma APIRest desenvolvida em Sistemas Distribuídos (Python / SQLite).
    </p>
    <p>Implementar CRUD completo com interfaces para:</p>
    <p>- Criar contato </p>
    <p>- Exibir / Recuperar contatos</p>
    <p>- Atualizar contato </p>
    <p>- Excluir contato</p>
    <p>- Implementar ao menos as seguintes consultas:</p>
    <p>por nome</p>
    <p>por empresa</p>
    <p>por email</p>
    <p>OBS: As consultas devem ser feitas de forma que seja possível consultar por coincidência exata ou parcial</p>
</div>


