<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">CMA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/instrucao">Instruções</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/list">Listar contatos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/add-contato">Adicionar contato</a>
          </li>
      </ul>
    </div>
  </nav>
  <section>
    <router-outlet></router-outlet>
</section>
<footer>
    Clara Mesquita Almeida &copy; 2022
</footer>